@use 'base/variables' as v;
@use 'base/mixins' as m;

.galeria {
    @include m.contenedor;
    &-imagenes {
        @include m.grid(1, 2rem);
        @include m.telefono {
            @include m.grid(2, 2rem);
        }
        @include m.tablet {
            @include m.grid(3, 2rem);
        }
        @include m.desktop {
            @include m.grid(4, 2rem);
        }
        img {
            height: 20rem;
            object-fit: cover;
            cursor: pointer;
        }
    }
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(v.$negro, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn ease-in 0.5s;

    &.fade-out {
        animation: fadeOut ease-in 0.5s;
    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        max-width: 80rem;
        max-height: 90vh; /* Para mantener proporción en pantallas más pequeñas */
        object-fit: contain; /* Ajusta la imagen sin distorsión */
    }

    .btn {
        position: absolute;
        width: auto;
        height: auto;
        background-color: transparent;
        border-radius: 1rem;
        border: none;
        display: grid;
        place-items: center;
        font-size: 5rem;
        cursor: pointer;
        transition: transform 0.3s ease-in;
        /* Evitar movimiento con transform-origin */
        transform-origin: center;


        &.btnCerrar,&.btnDerecha,&.btnIzquierda {
            position: absolute; /* Ajuste dentro del flujo de la columna */
            top: 103%;
            
            transform: translateY(-10%);
        }
        &.btnDerecha{
            right: 10rem;
        }

        &.btnIzquierda{
            left: 10rem;
        }
        
        @include m.desktop {


            

            &.btnDerecha {
                position: absolute;
                right: -8rem; /* A la derecha de la imagen */
                top: 50%; /* Centrado verticalmente */
                
            }
        
            &.btnIzquierda {
                position: absolute;
                left: -8rem; /* A la izquierda de la imagen */
                top: 50%; /* Centrado verticalmente */
            }
            &:hover {
                transform: translateY(-50%) scale(0.8); /* Combina la traslación y escala */
            }
        }
       
         
    
        &:hover {
            transform: translateY(-10%) scale(0.8); /* Combina la traslación y escala */
        }
        &.btnCerrar:hover {
            transform: scale(0.8); /* Escala, pero no cambia la posición */
        }
    
    }    
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Boton arriba */

.ir-arriba {
    position: fixed;
    width: auto;
    height: auto;
    line-height: auto;
    bottom: 30px;
    right: 10px;
    background: #0d24f000;
    color: v.$rojo;
    text-align: center;
    font-size: 90px;
    box-shadow: 0px 1px 10 px rgb(0, 0, 0,0.3);
    z-index: 100;
    cursor: pointer;
}

.ir-arriba:hover{
    text-decoration: none;
    color: #c41919;

}

.hidden {
    display: none !important;
}