$fuente_principal : "Titillium Web", sans-serif;

//colores
$verde:#4cb851;
$rosa: #f537a6;
$amarillo: #c1ff17;
$morado: #8a2eb8;
$negro: #000000;
$blanco: #FFFFFF;
$rojo: #f80b0b;

//Media Queries

$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;